doctype html
html 
    head 
        title jade(pug)
    body 
        h1 안녕하세요 pug3 입니다.
        div.container
            ul#book-list 
                li: a(href='#book-a') Book A
                li: a(href='#book-b') Book B